/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body{
    font-size: 16px !important;
    font-family: "Alegreya",serif !important;
}
.display_none{display:none;}
.fl-page-bar-row .storename{
    margin:0;
}
.page-id-543663 .uabb-image-carousel-item{
    display: block !important;
}
.page-id-543663 .slick-track .uabb-image-carousel-content img{
    height: 250px !important;
    width: 250px !important; 
}

.fl-slide-0{
    z-index: 1;
}
.fl-page-bar-row .storename li .phone a::before{
    font-size: 20px;
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: sub;
    margin-right: 5px;
}
#breadcrumbs a{
    color: #d41c28;
}
#responsive-menu-additional-content .storename li .phone span{
    color: #fff !important; 
}
.location-ph-no .fl-icon-wrap .storename li .phone span{
    font-weight: 600 !important;
    font-size: 21px;
}
.button-wrapper-inner .button.fea-coupon_btn{
    display:none !important;
}
.additonal-resource-links .fl-button-wrap a{
    background: transparent !important;
    border: none !important;
    color: #d41c28 !important;
}
.additonal-resource-links .fl-button-wrap a:hover *,
.page-id-885544 .fl-builder-content div.fl-module-button a.fl-button:hover *{
    background: transparent !important;
    border: none !important;
    color: #d41c28 !important;
}
div.location-ph-no .fl-module-content .fl-icon i:before {
    font-size: 25px;
    vertical-align: text-bottom;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 20px;
}
.brand_slider .uabb-image-carousel-item {
    display: block!important;
}

#gform_16 li.gfield{
	padding-left: 15px!important;
}
.f-0{
    margin: 0;
}
.f-0 .fl-module-content.fl-node-content{
    margin: 0;
}
.f-0 h1{
    font-size: 0;
    margin: 0;
}

ul.menu li a span.menu-item-text,
ul#menu-copyright-bar-menu li a,
footer .iPadFooter .fl-rich-text p,
.fl-builder-content div.fl-module-button a.fl-button, 
.fl-builder-content div.fl-module-button a.fl-button:visited{
    font-weight: 600 !important;
}
.fl-builder-content div.fl-module-button a.fl-button, 
.fl-builder-content div.fl-module-button a.fl-button:visited{
    text-transform: capitalize !important;
}

footer ul.menu li a,
body,
.fl-rich-text *,
.fl-module-uabb-business-hours .uabb-business-day,
.fl-module-uabb-business-hours .uabb-business-hours,
.phone>a span,
.fl-module-info-box .uabb-infobox-content .uabb-infobox-text,
.fl-slide .fl-slide-content-wrap .fl-slide-content h1.fl-slide-title,
div.fl-module-heading h1.fl-heading,
.fl-module-advanced-tabs .uabb-tabs .uabb-tabs-nav li a,
.fl-module-uabb-heading h2.uabb-heading, 
.fl-module-uabb-heading .uabb-heading-wrapper h2.uabb-heading,
.fl-module-uabb-heading h5.uabb-heading, 
.fl-module-uabb-heading .uabb-heading-wrapper h5.uabb-heading,
.fl-builder-content .fl-module-info-box h3.uabb-infobox-title,
.fl-module-uabb-heading .fl-module-content.fl-node-content .uabb-module-content .uabb-text-editor,
.fl-module-info-box  h2.uabb-infobox-title,
.fl-module-uabb-gravity-form .uabb-gf-style form .gform_body .gfield_label{
    font-weight: 500 !important;
}
.post-349326 .fl-module-info-box .uabb-infobox-content .uabb-infobox-text{
    font-weight: 400 !important;
}
footer div.fl-module-heading .fl-heading{
    font-weight: bold !important;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #88a09e;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a span{
    font-weight: 400;
    color: #88a09e;
}

.phone>a:hover span{
   color: #a03126;
}

.iscwp-gallery-slider .slick-dots li button,
.wpsisac-slick-carousal .slick-dots li button{
	border: 1px solid #88a09e;
}
ul#menu-top-bar-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs img,
#product-images-holder.colorwall-exlusive-batch .img-responsive img{
    height: 400px !important;
    width: 400px !important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button,
.wpsisac-slick-carousal .slick-dots li.slick-active button{
	background: #a03126 !important;
	border: 1px solid #a03126;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover,
.uabb-gf-style .gform_page .gform_page_footer input[type=submit]{
border: 1px solid #88a09e !important;
}
.uabb-creative-menu .storename .phone a:before,
#responsive-menu-additional-content .storename li .phone:before{
    font-size: 18px;
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
#responsive-menu-additional-content .storename li .phone:before {
    color: #fff;
}
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.searchIcon i:hover{
	cursor: pointer;
}
.privacy-policy-phone-no{
    display: flex;
}
.privacy-policy-phone-no .storename{
    margin-left: 10px;
}
.fl-node-5c6fdfb62273f a:hover,
.storename a:hover p,
.storename a:hover span,
.footermenu .menu-item a:hover{
    color: #88a09e !important;
}

header .storename .phone>a:hover span{
    color: #a03126 !important;
}
div.searchIcon .fl-module-content .fl-icon i:before {
    font-size: 22px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
    margin-top: 0 !important;
}
.fl-module-uabb-advanced-menu .uabb-creative-menu .menu > li{
    margin: 0 5px;
}
.wpsisac-slick-carousal.design-6 .slick-next{
    right: -40px !important;
}
.wpsisac-slick-carousal.design-6 .slick-prev {
    left: -40px !important;
}
@media(min-width:1024px) {
.fl-slide.fl-slide-1 .fl-slide-photo{
    margin-bottom: 60px!important;
}
}
@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media(max-width:992px) {
      button#responsive-menu-button {
        display: block !important;
    }
    .headerMain .headerRightNav,
    .headerRightNav ~ .fl-visible-mobile .phone.retailer{
        display: none;
    }
    .headerRightNav ~ .fl-visible-mobile{
        display: block !important;
    }
    div.headerLogo{
        width: 100%; 
        max-width: 100% !important;
    }
}
@media(max-width:768px) {
    .searchIcon {
        position: static;
    }
    .post-2  .fl-row-custom-height.fl-row-align-center > .fl-row-content-wrap{
        min-height: auto;
    }

    /* button#responsive-menu-button {
        top: 0 !important;
    } */

    .wpsisac-slick-carousal.design-6 .slick-next{
        right: -20px !important;
    }

    .wpsisac-slick-carousal.design-6 .slick-prev {
        left: -20px !important;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }

    .headerMain .phone.retailer span{
        font-size: 0;
    } 
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
         padding: 0 !important;
    }
    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    /* .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    } */
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    .fl-content-slider .fl-slide-0 .fl-slide-bg-link {
        z-index: 2;
    }
    .fl-slide-0 .fl-slide-foreground{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content{
        background: rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 512.25px;
    }
}

@media(max-width:767px) {
    .fl-slide-0 .fl-slide-foreground .fl-slide-content-wrap .fl-slide-content{
        height: 300px;
    }
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    #gform_submit_button_16{
        margin-left: 0px !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item,
    .uabb-masonary .uabb-masonary-item {
        width: 100% !important;
    }
    .iPadFooter .fl-col-group-equal-height .fl-module > .fl-module-content{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .footermenu ul#menu-flooring-menu,
    .footermenu .menu-inspiration-menu-container,
    .footermenu ul#menu-about-us{
        text-align: left;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
    .headerMain .headerLogo .fl-photo-content img{
        max-width: 60%;
    }
    .fl-page-bar-text.fl-page-bar-text-1 a{
        justify-content: center;
    }
    button#responsive-menu-button.responsive-menu-button {
        width: 40px;
        height: 40px;
        top: 70px;
    }
}